#nav-title {
    font-family: 'DIN Condensed';
    letter-spacing: 4pt;
    position: relative;
}

a:hover {
    color: #ffffff;
}

#nav-mobile {
    margin-left: 1%;
}

#logopic {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    display: block;
    
}

.nav-wrapper {
    background-color: #bdbdbd;
    border-bottom: solid 5pt #42a5f5;
}

#profile-pic {
    width: 100%;
    margin: 0 auto;
    float: right;
}

.my-photos {
    width: 100%;
}

.container {
    margin-top: 2%;
    width: 80%;
}

h2 {
    text-align: center;
}

iframe {
    width: 100%;
}

#about-me {
    text-align: left;
    border-bottom: solid 2px #bdbdbd;
    margin-top: 0;
}

#about-me-row {
    margin: 100px 0;
}

#top-corner-logo {
    height: 150px;
    border-bottom: solid 2px #dbdbdb;
}

#logoid {
    height: 100%;
}

.sidenav {
    border-right: solid 2px #dbdbdb;
}

.main-container {
    padding-left: 300px;
}

.header {
    color: #42a5f5;
    font-weight: 200;
}

h4 {
    color: #4c4c4c;
    font-weight: 200;
}

img {
    width: 60%;
}

.main-row {
    padding: 3% 3%;
    margin-bottom: 0; 
    
}
.main-row, .locations{
    border-bottom: solid 2px #dbdbdb;
}
#about-button {
    margin-top: 20px;
}

h1 {
    margin: 0 0;
}

h5 {
    margin: 0 auto 10px auto;
}

#index-photo {
    width: 100%;
}

i {
    float: left;
}

.social-icons {
    width: 20%;
}

.contact-row {
    margin-bottom: 0;
}

#about-me-pic {
    width: 70%;
}

#about-me-p {
    text-align: left;
}

.video-row {
    margin-bottom: 0;
}

#last-video-row {
    border-bottom: solid 2px #dbdbdb;
}